* {
    margin: 0;
    padding: 0;
}
ul.pixel-tabs {
	list-style-type: none;
	margin-left: 15%;
    margin-right: 15%;
	padding: 0;
	height: 300px;
	overflow: visible;
}
ul.pixel-tabs li {
	display: inline-block;
	line-height: 30px;
	border: 1px solid #999;
	border-bottom: 0 none;
}
ul.pixel-tabs li a.tab {
	border-bottom: 1px solid #999;
	background: #eee;
	height: 29px;
}
ul.pixel-tabs li a {
	color: #666;
	text-decoration: none;
	display: inline-block;
	padding: 0px 12px;
	white-space: nowrap;
}
ul.pixel-tabs li a:hover {
	border-bottom: none;
}
ul.pixel-tabs li a.active-tab {
	background: #fff;
	border-bottom: 0 none;
}
.content-tab {
	border: 1px solid #999;
	margin: -1px 0 0 0;
	padding: 20px;
}
div.tabs {
	height: 300px;
	overflow: hidden;
}

.nameOfSite {
    display: block;
    background: lightgray;
    text-align: center;
}
#userAdd, #subscriptionAdd{
    margin: 0 15% 10% 30%;    
}
.add{
    margin-left: 75%
}
#users, #subscriptions{
    border: 1px double black; 
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}

#users td, #subscriptions td{
    border: 1px solid black;      
}

#users th, #subscriptions th {
    border: 1px solid black;
}
a{
    text-decoration: none;
}
